<ion-view view-title="Actions">
  <ion-content class="padding">
    <div class="list card">
      <div class="list">
        <div class="item item-divider">
          Salir de casa
           <a class = "item-icon-right" href=""><i class="icon ion-plus"></i></a>
        </div>
        <a href="#" class="item">Accion XX</a>
        <a href="#" class="item">Accion XX</a>
        <a href="#" class="item">Accion XX</a>
        <div class="item item-divider">
          Llegar a casa
          <a class = "item-icon-right" href=""><i class="icon ion-plus"></i></a>
          
        </div>
        <a href="#" class="item">Accion XX</a>
        <a href="#" class="item">Accion XX</a>
        <a href="#" class="item">Accion XX</a>
        <div class="item item-divider">
          Accion sin definir
            <a class = "item-icon-right" href=""><i class="icon ion-plus"></i></a>
        </div>
        <a href="#" class="item">Accion XX</a>
        <a href="#" class="item">Accion XX</a>
        <a href="#" class="item">Accion XX</a>
      </div>
    </div>
  </ion-content>
</ion-view>
