<ion-view view-title="Warnings">
    <ion-content class="padding">
        <div class="list card">
            <div class="list">
                <div class="item item-divider">
                    Sensor 1
                    <a class="item-icon-right" href=""><i class="icon ion-plus"></i></a>
                </div>
                <a href="#" class="item">Warning XX</a>
                <a href="#" class="item">Warning XX</a>
                <div class="item item-divider">
                    Sensor 2
                    <a class="item-icon-right" href=""><i class="icon ion-plus"></i></a>

                </div>
                <a href="#" class="item">Warning XX</a>
            </div>

        </div>
    </ion-content>
</ion-view>
