<ion-view view-title="Devices">
    <ion-content class="padding">
        <div class="list card" ng-repeat="device in devices" ng-model="devices">
            <div class="item-divider">
                <ion-header-bar>
                    <div class="buttons">
                        <button class="button button-icon icon ion-minus-circled" ng-click="showHiddenDelete()"></button>
                    </div>
                    <h1 class="title">{{device.name}}</h1>
                    <div class="buttons">
                        <a class="item-icon-right" href="#/tab/devices/{{device.name}}"><i class="icon ion-plus-circled"></i></a>
                    </div>
                </ion-header-bar>
            </div>
            < <div class="list ysi-list">
                <div class="item ysi-item" ng-repeat="roomDevice in device.devices">
               <div class="buttons {{showHiddenClass}}">
                        <button class="button button-icon icon ion-minus-circled  hidden" show="data.showDelete" ng-click="onItemDelete(device,roomDevice)"></button>

                    </div>
                    {{roomDevice.name}}
                    <label class="toggle" ng-if="showToggle(roomDevice)">
                        <input type="checkbox" ng-model="roomDevice.status">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    <div class="item range range-positive" ng-if="showRange(roomDevice)">
                        <!--<i class="icon ion-ios7-sunny-outline"></i>-->
                        <span class="minMax">min</span>
                        <input type="range" name="volume" min="0" max="100" value="33">
                        <span class="minMax">Max</span>
                        <!--<i class="icon ion-ios7-sunny"></i>-->
                    </div>
                    <div class="item range range-positive" ng-if="showInfo(roomDevice)">
                        <span class="infoValue">{{roomDevice.status}}</span>
                    </div>
                </div>
            </div>
        <!--            <ion-list show-delete="data.showDelete">
                <ion-item class="item-toggle item-remove-animate" item="item" ng-repeat="roomDevice in device.devices">
                    {{roomDevice.name}}
                    <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(device,roomDevice)">
                    </ion-delete-button>
                    <label class="toggle" ng-if="showToggle(roomDevice)">
                        <input type="checkbox" ng-model="roomDevice.status">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    <div class="item range range-positive" ng-if="!showToggle(roomDevice)">
                        <i class="icon ion-ios7-sunny-outline"></i>
                        <input type="range" name="volume" min="0" max="100" value="33">
                        <i class="icon ion-ios7-sunny"></i>
                    </div>
                </ion-item>
            </ion-list>-->
        </div>
    </ion-content>
</ion-view>
