/* Empty. Add your own CSS if you like */
div.list {
    border-top-color: #000;
    border-top-width: 2px;
    margin-top: 5px;
}

i.icon {
    padding-top: 3px;
}

div.tab-nav.tabs {
    margin-bottom: 5px;
    margin-top: 5px;
}

label.toggle {
    margin-top: 1px;
}

.ysi-hidden{
    display: none;
}

.ysi-list{
    padding: 2px;
    
}

.ysi-item{
    width:auto;
    margin: 5px;
}

.float-rigth{
    float: right: ;
}

.w-20{
    width: 15%;
}


.w-80{
    width: 80%;
}

.ysi-minus-red{
    color: #F00;
}
